# Ignore Everything
*

# Except for these files / folders

!.gitignore

!src/
!src/**

# But also ignore these ..

src/ipynb/labelsDF
src/ipynb/trainDF
src/ipynb/testDF
src/ipynb/.ipynb_checkpoints/
src/ipynb/testDF-with-name